/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Global Styles */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
}

body {
    background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    position: relative;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.logo img {
    height: 50px;
    width: 50px;
}

.hero-image {
    background-image: url("/docs/assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative;
}

.hero-text {
    color: #333;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 4px 4px #fff;
}

.hero-text p {
    font-size: 24px;
    text-shadow: 1px 1px #fff;
}
.hero {
  display: flex;
  align-items: center;
  padding: 50px;
}

.hero-logo {
  margin-right: 50px;
}

.hero-logo img {
  width: 25%;
  max-width: 700px;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
	flex: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    width: 45%;
    margin: 20px;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}

.card {
    padding: 20px;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    line-height: 1.5;
}

.card img {
    margin: auto;
    display: flex;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
	margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
}

.social-icons i {
    transition: all 0.3s ease-in-out;
}

.social-icons a:hover i {
    transform: scale(1.2);
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media img {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2);
}

.social-media i {
  font-size: 24px;
}

.button-container {
  position: absolute;
  bottom: 20px;
}
.button-parent {
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-button {
  background-color: #1d5590;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-image: url("/docs/assets/images/argazkiak.png");
}
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}
